@page
@model Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<br  />
<form asp-controller="Index" asp-action="Index" method="get">
    <p>
        Toppnigs on pizza : <input type="text" name="SearchString" />
        <input type="submit" name="filter" value="filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaMenu[0].PizzaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaMenu[0].Toppings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PizzaMenu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toppings)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PizzaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PizzaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PizzaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
